[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
datetime = "*"
selenium-webdriver-common-keys = "*"
webrdriver-manager = "*"
webdriver-manager = "*"
webdriver-manager-chrome = "*"

[requires]
python_version = "3.7"
